\#auto_saved_files\#
USB-SSB-exciter-backups/
~*
.~*
usb-ssb-exciter.pdf
usb-ssb-exciter.txt
USB-SSB-txcvr-backups/
*~
.*~
datasheets+doc/
spice-models/
symbols/
fw/.settings/
hw/Library.bak
doc/NexRig/.obsidian/
