# Clock and Control
LOCATE COMP "clk30MHz" SITE "44";
IOBUF PORT "clk30MHz" IO_TYPE=LVCMOS33;

LOCATE COMP "stm32clock" SITE "10";
IOBUF PORT "stm32clock" IO_TYPE=LVCMOS33;

# SPI Slave Interface
LOCATE COMP "spiCS" SITE "C1";
IOBUF PORT "spiCS" IO_TYPE=LVCMOS33;

LOCATE COMP "spiSck" SITE "D1";
IOBUF PORT "spiSck" IO_TYPE=LVCMOS33;

LOCATE COMP "spiMOSI" SITE "F1";
IOBUF PORT "spiMOSI" IO_TYPE=LVCMOS33;

LOCATE COMP "spiMISO" SITE "E1";
IOBUF PORT "spiMISO" IO_TYPE=LVCMOS33;
